.background-color-div {
  background-color: rgb(4, 28, 42);
  color: white;
  padding: 20px;
}

.bottom-half {
  position: absolute;
  background-color: rgb(255, 255, 247); 
  top: 50%; /* Starts from the middle of the page */
  left: 0;
  width: 100%;
  min-height: 50%; /* Bottom half of the page */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50px; 
  border-top-right-radius: 50px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #333;  
}

.bottom-half-login {
  position: absolute;
  background-color: rgb(255, 255, 247); 
  top: 50%; /* Starts from the middle of the page */
  left: 0;
  width: 100%;
  min-height: 50%; /* Bottom half of the page */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  border-top-left-radius: 50px; 
  border-top-right-radius: 50px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #333;  
}

.centered-button {
  margin-top: 70px;
  position: absolute;
  display: flex;
  left:50%;
  transform: translate(-50%, -50%);
  align-items: center; 
}

.centered-paragraph {
  position: absolute;
  top: 130px; 
  width: 100%;
  text-align: center; 
}

.column {
  flex: 1; 
  text-align: center; 
}

.errortxtnew {
  color:  rgb(84, 45, 10);
}

.errortxtrtn {
  color: rgb(4, 28, 42);
}

.full-view-image, .invisible-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  z-index: 2
}

.full-view-image {
  opacity: 1;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Adjust as needed */
  border: none; /* If you don't want any border */
  background: none; 
}

.googlebuttondown {
  margin-top: 4rem;
}

.google-button img {
  height: auto; 
  width: 70%; 
}

.invisible-image {
  opacity: 0;
  z-index: -1;
}

.left-column {
  border-right: 2px solid #ccc; 
  padding-right: 20px; 
}

.login-background-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  position: relative;
  bottom: 15px;
  top: 5px;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-color:rgb(112,128,144);  
  border-top-left-radius: 52px;
  border-top-right-radius: 52px; 
  z-index: 1;
}

.login-background-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  position: relative;
  bottom: 20px;
  top: 5px;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-color:rgb(216, 189, 142);
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;  
  padding: 8px; 
  z-index: 1;
}

.login-container {
  width: 300px; 
  text-align: center; 
  padding: 20px; 
  background-color:  rgb(218,211,197);
  height: 70%
}

.login-overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  white; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: height 1s ease;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px; 
  z-index: 3;
}

.login-overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(255, 255, 247); 
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: height 1s ease;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
  z-index: 3;
}
  
.login-overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 255, 247); 
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: transform 2s ease-in-out;
  opacity: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; 
  z-index: 3;
}

  .ease-overlay {
    opacity: 1; 
    visibility: visible; 
    transition: opacity 2s ease, visibility 0s ease 2s;
    
  }

.nav-footer-background-color {
  background-color: rgb(255, 255, 247); 
}

.or-sectionnew {
  display: flex;
  margin: auto; 
  align-items: center;
  color: rgb(4, 28, 42);
}

.or-sectionrtn {
  display: flex;
  margin: auto; 
  align-items: center;
  color: rgb(170, 147, 99);
}

.page-container {
  position: absolute;
  width: 100vw;
  min-height: 85vh;
  overflow: auto;
}

.quote-style {
  font-style: italic; 
  border-left: 4px solid #ccc; 
  padding-left: 16px; 
  color: #555; 
}

.right-column {
  padding-left: 20px; 
}

.round-button {
  background-color: rgb(4, 28, 42); 
  color: rgb(170, 147, 99); 
  border: none; 
  border-radius: 50%; 
  padding: 20px; 
  font-size: 16px; 
  text-align: center; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.round-button:hover {
  background-color: rgb(16, 87, 129); 
}

.rounded-button {
  background-color: rgb(4, 28, 42); 
  color: rgb(170, 147, 99); 
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  z-index: 2;
}

  .rounded-button:hover {
    background-color: rgb(16, 87, 129);
  }

.rounded-button-newuser {
  background-color:rgb(255, 255, 255); 
  color: rgb(135, 135, 135); 
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 220px;
  transition: background-color 0.3s;
  border: 2px solid rgb(170, 147, 99); 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  padding: 8px; 
  border-radius: 9999px;
  z-index: 2;
}

.rounded-button-rtnuser {
  background-color: rgb(170, 147, 99); 
  color: rgb(4, 28, 42);  
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 210px;
  transition: background-color 0.3s;
  border: 2px solid rgb(4, 28, 42);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  padding: 8px; 
  border-radius: 9999px;
  z-index: 2;
}

.rounded-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.rounded-input {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px 0;
  width: 300px; 
  outline: none;
  z-index: 2;
  border: 2px solid rgb(4, 28, 42);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  padding: 8px; 
  border-radius: 9999px;
}

.thinker-image {
  max-height: 100%; 
  max-width: 100%; 
  object-fit: contain; 
}

.top-half {
  position: absolute;
  /* background-color: rgb(218,211,197); */
  top: 0;
  left: 0;
  width: 100%;
  height: 55%; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.user-banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  justify-content: center; 
  align-items: center;
  background-color:  rgb(255, 255, 247);
}


/*about page CSS */


.about-page-container {
  display: flex;  
  flex-direction: column;  
  justify-content: top;  
  align-items: center;  
  height: 90%;  
  width: 100%;  
}

.cylinder {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/revolver-cylinder-transparent.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out; 
  transform: rotate(15deg);
  background-position: 40% 50%;
  cursor: pointer;
  margin: 0 auto;
}



.hole {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0 0 5px #000;
  transition: transform 0.5s ease-in-out; 
  /* z-index: 10; */
  transform-origin: 50%;
}

.picture-adjust4 {
  width: 123px;
  height: 123px;
}

.picture-adjust5 {
  width: 126px;
  height: 126px;
}

.picture-adjust6 {
  width: 125px;
  height: 125px;
}

.bio {
  max-width: 500px; /* Adjust max-width as needed */
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* .hole:nth-child(1) { transform: rotate(-90deg) translateX(250px)}
.hole:nth-child(2) { transform: rotate(-30deg) translateX(250px)}
.hole:nth-child(3) { transform: rotate(30deg) translateX(250px)}
.hole:nth-child(4) { transform: rotate(90deg) translateX(250px)}
.hole:nth-child(5) { transform: rotate(150deg) translateX(250px)}
.hole:nth-child(6) { transform: rotate(210deg) translateX(250px)} */

/* .hole:nth-child(1) {
  transform: rotate(-90deg) translateX(150px) rotate(90deg); 
}

.hole:nth-child(2) {
  transform: rotate(-60deg) translateX(150px) rotate(60deg); 
}

.hole:nth-child(3) {
  transform: rotate(-30deg) translateX(150px) rotate(30deg);
}

.hole:nth-child(4) {
  transform: rotate(0deg) translateX(150px) rotate(0deg);
}

.hole:nth-child(5) {
  transform: rotate(30deg) translateX(150px) rotate(-30deg);
}

.hole:nth-child(6) {
  transform: rotate(60deg) translateX(150px) rotate(-60deg);
}
 */

