.modal-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s forwards;
    background-color: rgba(6, 96, 186, 0.7);
}

.modal-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 15px 35px rgba(52, 152, 219, 0.4);
    max-width: 600px;
    animation: scaleIn 0.5s ease-out;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    cursor: pointer;
    /* opacity: 0.8; */
    /* transition: opacity 0.3s, color 0.3s; */
}

.close-button:hover {
    opacity: 1;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .90;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}